<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twy.ui">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.twy.ui.base.BaseAplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PinnedListViewSubjectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JboxActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TransformStatusBarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LinePieViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomControlActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ZXingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AnimeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AnimeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PullToRefreshActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SwipeRefreshLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SwipeRefreshLayoutExpendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PicStyleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AdapterScreenActivity"/>
        <activity android:name=".activity.EasyGuideViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TabLayoutImgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TimePickerViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SpannableStringActivity"
            android:screenOrientation="portrait"/>

        <!--springview-->
        <activity android:name=".activity.springviewactivity.SpringViewActivity"
            android:label="DemoSpring"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo1Activity"
            android:label="Demo1Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo2Activity"
            android:label="Demo2Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo3Activity"
            android:label="Demo3Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo4Activity"
            android:label="Demo4Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo5Activity"
            android:label="Demo5Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo6Activity"
            android:label="Demo6Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo7Activity"
            android:label="Demo7Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo8Activity"
            android:label="Demo8Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.Demo9Activity"
            android:label="Demo9Activity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.TestActivity"
            android:label="TestActivity"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity android:name=".activity.springviewactivity.WarningActivity"
            android:label="WarningActivity"
            android:theme="@style/AppTheme1.NoActionBar"/>



        <!--加载长图片-->
        <activity android:name=".activity.BigImgActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Style1Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Style2Activity"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Style3Activity"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.DragScrollDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Anime2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Anime2DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.VideoActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>
    <!--springview-->

</manifest>